@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 20rem auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  grid-column: 1;
  width: 20rem;
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 2rem;
}
.controls h1,
.controls h3{
  text-align: center;
  font-weight: 100;
}
.controls input {
  width: 80%;
}
#radio1,
#radio2,
#opacity{
  width: 10%;
}
.controls p {
  margin: .5rem 0;
}
.controls button{
  display: block;
  margin: 1rem auto;
  font-size: 1rem;

  padding: .5rem 2rem;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}