html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: 20rem auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.controls {
  grid-column: 1;
  width: 20rem;
  background-color: aliceblue;
}

#canvas-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
